
.grey {
    background-color: grey;
}
.orange {
    background-color: orange;
}
.blueviolet {
    background-color: blueviolet;
}
.greenyellow {
    background-color: greenyellow;
}
.fuchsia {
    background-color: fuchsia;
}